central/*.class
central/*.log
central/*.pyc
central/*.swp
central/.DS_Store
central/.atom/
central/.buildlog/
central/.history
central/.svn/
central/migrate_working_dir/

# IntelliJ related
central/*.iml
central/*.ipr
central/*.iws
central/.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#central/.vscode/

# Flutter/Dart/Pub related
central/**/doc/api/
central/**/ios/Flutter/.last_build_id
central/.dart_tool/
central/.flutter-plugins
central/.flutter-plugins-dependencies
central/.pub-cache/
central/.pub/
central/build/

# Symbolication related
central/app.*.symbols

# Obfuscation related
central/app.*.map.json

# Android Studio will place build artifacts here
central/android/app/debug
central/android/app/profile
central/android/app/release
